ManagerConfiguration(
    hosts: ["localhost:9092"],
    rollback_functions: {
        Process(service:"legal",function:"update")  : Process(service:"legal",function:"delete"),
        Process(service:"user",function:"create")   : Process(service:"user",function:"delete"),
        Process(service:"membership",function:"create"): Process(service:"membership",function:"delete"),
        Process(service:"license",function:"create")   : Process(service:"license",function:"delete")
    }
)
